.saveLoadModal__slotsContainer {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  width: 350px;
}

.saveLoadModal__slot {
  display: flex;
  align-items: center;
}

.saveLoadModal__slotStatus {
  margin-right: auto;
}

.saveLoadModal__slotTitle {
  font-weight: bold;
  text-transform: uppercase;
}

.saveLoadModal__btns {
  display: flex;
  gap: var(--spacing-xs);
}
