.starModal__solarSystem {
  object-fit: cover;
}

.starModal__starInformation {
  padding: var(--spacing-m);
}

/* Construction Area */
.starModal__constructionArea {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: var(--spacing-xs) solid var(--txt);
    margin: 0;
  }
}

.starModal__buildings {
  width: 50%;
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(4, 1fr);
}

.starModal__building {
  padding: 0;
  aspect-ratio: 1;
}

.starModal__constructionQueue {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(4, 1fr);
  min-height: 75px;
  align-items: center;

  p {
    font-weight: bold;
  }
}

.starModal__constructionOptions {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(6, 1fr);
}

.starModal__queueItem,
.starModal__constructionOption {
  display: flex;
  gap: var(--spacing-m);
  justify-content: center;
  align-items: center;
  padding: var(--spacing-s);

  img {
    height: 100%;
    aspect-ratio: 1;
  }

  .starModal__xImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
    transform: translate(-50%, -50%) scale(1, 0);
  }

  &:hover > .starModal__xImage {
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }

  span {
    text-align: left;
  }
}

.starModal__constructionOption {
  aspect-ratio: 1;
}
