.starModal__solarSystem {
  object-fit: cover;
}

.starModal__starInformation {
  padding: var(--spacing-m);
}

.starModal__buildings {
  padding: var(--spacing-m);
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(3, 1fr);

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: var(--spacing-xs) solid var(--txt);
    margin: 0;
  }
}
