.starModal__solarSystem {
  object-fit: cover;
}

.starModal__starInformation {
  padding: var(--spacing-m);
}

/* Construction Area */
.starModal__constructionArea {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: var(--spacing-xs) solid var(--txt);
    margin: 0;
  }
}

.starModal__buildings {
  width: 50%;
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(4, 1fr);
}

.starModal__building {
  padding: 0;
  aspect-ratio: 1;
}

.starModal__constructionOptions {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(5, 1fr);
}

.starModal__constructionOption {
  aspect-ratio: 1;
  position: relative;

  img {
    position: relative;
    width: 90%;
    aspect-ratio: 1;
  }

  span {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}
