.starModal__solarSystem {
  object-fit: cover;
}

.starModal__starInformation {
  padding: var(--spacing-m);
}

.starModal__buildingsArea {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: var(--spacing-xs) solid var(--txt);
    margin: 0;
  }
}

.starModal__buildingsSlots {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(3, 1fr);
}
