.modal {
  background-color: var(--modalBackground);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: var(--modalContentBackground);
  min-width: 250px;
  min-height: 250px;
  border: var(--spacing-xs) solid var(--modalBorder);
  border-radius: var(--spacing-m);
  animation: openModal 0.2s ease-in-out forwards;
}

@keyframes openModal {
  0% {
    transform: scale(0) translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.modalHeader {
  width: 100%;
  height: var(--modalHeaderHeight);
  background-color: var(--modalHeaderBackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-xs);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
