.navbar {
  background-color: var(--navbar__background);
  width: 100%;
  height: var(--nav-height);
  border-bottom: var(--nav-spacing) solid var(--navbar__border);

  display: flex;
  justify-content: center;
  gap: var(--nav-spacing);
  padding: var(--nav-spacing);
}

.navbar li {
  height: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}
