.navbar {
  background-color: var(--1);
  color: var(--1);
  width: 100%;
  height: var(--nav-height);
  border: 10px solid transparent;

  display: flex;
  justify-content: center;
  gap: 10px;
}

li {
  background-color: var(--5);
  height: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

li:hover {
  cursor: pointer;
  background-color: var(--7);
}
