.navbar {
  background-color: var(--navbar__background);
  width: 100%;
  height: var(--nav-height);
  border-bottom: var(--nav-spacing) solid var(--navbar__border);

  display: flex;
  justify-content: center;
  gap: var(--nav-spacing);
  padding: var(--nav-spacing);
}

li {
  background-color: var(--button__background);
  color: var(--button__text);
  height: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
}

li:hover {
  cursor: pointer;
  background-color: var(--button__background--hover);
  color: var(--button__text--hover);
}
