*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--bg-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: #000000;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--spacing-m);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn,
button {
  padding: var(--spacing-s) var(--spacing-l);
  height: fit-content;
  background-color: var(--btn__background);
  color: var(--btn__text);
  border: none;
  border-radius: var(--spacing-s);
  font-weight: bold;
  position: relative;
  overflow: hidden;

  & > * {
    position: relative;
    z-index: 2;
  }

  &:before {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--btn__hoverBackground);
    border-radius: var(--spacing-s);
    transform: scaleY(0);
    transform-origin: center;
    transition: all 0.2s;
    z-index: 1;
  }

  &:not(:disabled):hover {
    cursor: pointer;

    &:before {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &:disabled {
    background-color: var(--btn__disabledBackground);
  }
}

.btn.inverseBtn {
  background-color: var(--btnInverse__background);
  color: var(--btnInverse__text);

  &::before {
    background-color: var(--btnInverse__hoverBackground);
  }
}

.closeBtn {
  background-color: var(--closeBtn__background);
  width: var(--spacing-l);
  height: var(--spacing-l);
  padding: 0;
  border-radius: var(--spacing-m);
  transition: transform, 0.2s;

  &::before {
    background-color: var(--closeBtn__hoverBackground);
  }
}
