*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--bg-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
