*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--bg-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn,
button {
  padding: 10px 25px;
  height: fit-content;
  background-color: var(--btn__background);
  color: var(--btn__text);
  border: none;
  border-radius: 10px;
  transition: transform, 0.2s;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.btn.inverseBtn {
  background-color: var(--btn__text);
  color: var(--btnInverse__text);
}

.closeBtn {
  background-color: var(--closeBtn__background);
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 15px;
  transition: transform, 0.2s;
}

.closeBtn:hover {
  cursor: pointer;
  background-color: var(--closeBtn__background);
}
