:root {
  --button__background: white;
  --button__text: #212121;
  --button__background--hover: #00acfc;
  --button__text--hover: white;

  --navbar__background: white;
  --navbar__border: #00acfc;

  --modalBackground: rgba(0, 0, 0, 0.5);
  --modalContentBackground: #01579b;
  --modalContentBorder: #212121;

  --nav-height: 75px;
  --nav-spacing: 5px;
}
