:root {
  --button__background: white;
  --button__text: #212121;
  --button__background--hover: #00acfc;
  --button__text--hover: white;

  --navbar__background: #00acfc;

  --modalBackground: rgba(0, 0, 0, 0.5);
  --modalContentBackground: white;
  --modalHeaderBackground: #00acfc;
  --modalBorder: #00acfc;
  --modalCloseBtn: red;

  --nav-height: 75px;
  --nav-spacing: 5px;
}
