:root {
  --button__background: #212121;
  --button__text: #eeeeee;
  --button__background--hover: #eeeeee;
  --button__text--hover: #212121;

  --navbar__background: #01579b;
  --navbar__border: #212121;

  --modalBackground: rgba(0, 0, 0, 0.2);
  --modalContentBackground: #eeeeee;
  --modalContentBorder: #212121;

  --nav-height: 75px;
  --nav-spacing: 5px;
}
