:root {
  --txt: white;

  --btn__background: #1a5fb4ff;
  --btn__hoverBackground: #3584e4ff;
  --btn__text: white;
  --btn__hoverText: black;
  --btn__disabledBackground: grey;

  --btnInverse__background: white;
  --btnInverse__text: #212121;
  --btnInverse__hoverBackground: #edf9ff;

  --closeBtn__background: red;
  --closeBtn__hoverBackground: rgb(255, 69, 69);

  --navbar__background: #1a5fb4ff;
  --nav-height: 75px;
  --nav-spacing: 10px;

  --modalBackground: rgba(0, 0, 0, 0.5);
  --modalContentBackground: rgb(15, 15, 20);
  --modalBorder: #1a5fb4ff;
  --modalHeaderHeight: 35px;

  --spacing-xs: 5px;
  --spacing-s: 10px;
  --spacing-m: 15px;
  --spacing-l: 25px;
}
